# KebumianBot Discord API GVs
CLIENT_TOKEN='Bot Token Here'

# Google API GVs
CLIENT_ID='GCP App Oauth2 CLient ID'
CLIENT_SECRET='GCP App Oauth2 CLient ID'
REDIRECT_URI='http://localhost:3000/oauth2callback'